.container{
    max-width: 980px;
    margin: 0 auto;
   
    
}
.h1{
    align-items: center;
    text-align: center;
}
.con{
   
    margin-left: 10px;
    column-count: 2;
}
img{
    max-width: 360px;
    max-height: 360px;
    width: auto;
    height:auto;
}
@media screen  and (max-width:480px){
    .container{
        flex-direction: column;
        order:3;
       
    }
    .content-con:nth-child(2).content-r{
        order:1;
    }
}